@{
    ViewData["Title"] = "Home Page";
}

@{Html.BeginForm("HideRowsColumns", "Home", FormMethod.Get);
    {
        <div>
            <input type="submit" value="Hide Rows and Columns" style="width:200px;height:27px" />
        </div>
    }
    Html.EndForm();
}
