@{
    ViewData["Title"] = "Home Page";
}

@{Html.BeginForm("HighlightSheetTab", "Home", FormMethod.Get);
    {
        <div>
            <input type="submit" value="Highlight Worksheet Tab" style="width:200px;height:27px" />
        </div>
    }
    Html.EndForm();
}
